* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 24px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 12px 0px;
    background: #222222;
    color: #6C92D9;
}



header nav {
    flex-direction: row;
    padding: 25px 40px 0 0;
    margin-right: 20px;
    justify-content: flex-end;
    font-size: 20px;
}

header nav ul {

    flex-direction: row;
}

header nav ul li {
    padding: 0 20px 20px 0;
    display: inline-block;
    margin-left: 35px;

}

.name {
    font-size: 200%;
    color: #222222;
    background-color: rgba(50, 241, 226, 1);
    padding: 12px 10px 0 10px;
}

header nav ul li a {
    text-decoration: none;
    border-bottom: 3px solid rgba(50, 241, 226, 1);
    padding: 5px;
    color:rgba(50, 241, 226, 1);
    font-size: 120%;
    font-weight: bold;
    
}

.banner {
    height: 280px;
    width: 100%;
    margin-bottom: 50px;
    background-image: url("../images/header-image-2.jpg");
    background-size: cover;
    background-position: center;
}

.banner h3 {
    position: relative;
    top: 65%;
    left: 70%;
    padding: 20px 40px 42px 40px;
    background: rgba(34, 34, 34, .7);
    font-size: 150%;
    color: rgba(50, 241, 226, 1);
    font-weight: bold;
}

.section-1 {
    display: block;
}

.section-2 {
    display: block;
}

.section-3 {
    display: block;
}

.flexbox-1 {
    display: flex;
    padding-bottom: 5em;
}

.flexbox-1 aside {
    flex: 0 0 20%;
    border-right: 5px solid rgba(34, 34, 34, 1);
    margin-bottom: -50px;
}

.flexbox-1 aside h3 {
    flex-wrap: wrap;
    text-align: right;
    padding: 0 20px 0 50%;
    font-size: 50px;
}

.flexbox-1 article {
    max-width: 80%;
    padding: 0 80px 0 50px;
}

.flexbox-1 article p {
    font-size: 30px;
    padding: 0 80px 0 50px;
}

.flexbox-2 {
    display: flex;
    padding-bottom: 5em;
}

.flexbox-2 aside {
    flex: 0 0 20%;
    border-right: 5px solid rgba(34, 34, 34, 1);
    margin-bottom: -50px;
}

.flexbox-2 aside h3 {
    flex-wrap: wrap;
    text-align: right;
    padding: 0 20px 0 30%;
    font-size: 50px;
}

.flexbox-2 figure{
    max-width: 80%;
    padding: 0 70px 0 50px;
}

.flexbox-2 figure a {
    text-align: center;
}

.flexbox-2 figure a img {
    width: 60%;
    border-radius: 50px;
}

.flexbox-3 {
    display: flex;
    padding-bottom: 2em;
}

.flexbox-3 aside {
    flex: 0 0 20%;
    border-right: 5px solid rgba(34, 34, 34, 1);
    padding-bottom: 50px;
}

.flexbox-3 aside h3 {
    flex-wrap: wrap;
    text-align: right;
    padding: 0 20px 0 40%;
    font-size: 50px;
}

.flexbox-3 nav {
    max-width: 80%;
    padding: 20px 70px 0 50px;

}

.flexbox-3 nav ul {
}

.flexbox-3 nav ul li {
    display: inline;
    padding: 0 20px;
}

.flexbox-3 nav ul li a {
    text-decoration: none;
    border-bottom: 3px solid rgba(50, 241, 226, 1);
    padding: 5px;
    color:rgba(50, 241, 226, 1);
    font-size: 150%;
    font-weight: bold;
}